/* fonts */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.bg-image {
  background-image: url(images/donation1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: inline-block;
  text-align: center;
}

.banner-header {
  font-size: 65px;
  color: white;
  font-weight: 700;
}

.about-banner {
  font-size: 18px;
  color: white;
  margin: 20px;
}

.donate-btn {
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background-color: #FF5959;
  border-radius: 8px;
}

.donate-container {
  display: flex;
  justify-content: center;
}

.donate {
  display: inline-block;
  text-align: center;
}

.donate-header {
  font-size: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.donate-quote {
  font-size: 18px;
  margin-bottom: 20px;
}

.donate-amount {
  display: flex;
  justify-content: space-around;
}

.money {
  font-size: 30px;
  color: #707070;
  background: #FAFAFA;
  width: 135px;
  height: 123px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #FF5959;
}

.other-amount {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #B3B3B3;
}

.line {
  border: 0.5px solid #DADADA;
  margin-bottom: 30px;
}

.our-donate-plan {
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-donate-plan-header {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: 700;
}

.donate-for-sylhet {
  font-size: 18px;
  color: #707070;
  display: flex;
  justify-content: center;
}

.donation-plan {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.donation-for-family {
  width: 360px;
  height: 250px;
  color: #707070;
  background: #FAFAFA;
  margin: 10px;
  display: inline-block;
  border: 1px solid #FF5959;
  justify-content: center;
  padding: 30px;
}

.family-header {
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.family-paragraph {
  font-size: 16px;
  font-weight: 400;
}

.update-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.get-update {
  display: inline-block;
  text-align: center;
}

.update-header {
  font-size: 45px;
}

.update-paragraph {
  color: #707070;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.update-input {
  width: 360px;
  height: 200px;
  color: #707070;
  background: #FFF4D6;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0B0D17;
}

.footer-header {
  color: #FF5959;
  font-size: 36px;
  font-weight: 400;
  font-family: 'Lobster', cursive;
}

.footer-paragraph {
  color: white;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.donation-news {
  display: flex;
  justify-content: center;
  align-items: center;
}

.everything-about-donation {
  display: inline-block;
  text-align: center;
}

.flood-img {
  height: 600px;
  width: 800px;
}

.flood-header {
  font-size: 45px;
  margin: 30px;
}
.our-story{
  font-size: 18px;
  margin: 20px;
}
.about-work{
  width: 1180px;
  margin-bottom: 20px;
}